<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"><%=translation.Menu%></li>

                <li>
                    <a href="/" class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span><%=translation.Dashboard%></span>
                    </a>
                </li>

                <li class="menu-title">Transaksi</li>
                <li>
                    <a href="/santunan" class="waves-effect">
                        <i class="ri-terminal-window-line"></i>
                        <span>Santunan</span>
                    </a>
                </li>

                <li class="menu-title">Master</li>

                <li>
                    <a href="/program" class="waves-effect">
                        <i class="ri-terminal-window-line"></i>
                        <span>Master Program</span>
                    </a>
                </li>
                <li>
                    <a href="/mustahik-perorangan" class="waves-effect">
                        <i class="ri-terminal-window-line"></i>
                        <span>Mustahik Perorangan</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->